

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 5px;
  background-color: #50a1e4;
}
.item{
  text-decoration: none;
  
  color: rgb(0, 0, 0);
  font-size: 1.3em;
}
.item:hover{
  color: rgb(255, 255, 255);
}
.lista{
  margin-top: 10px ;
  padding-top: 10px;
  margin-bottom: 0;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}
.logo{
  align-self: center;
  padding: 15px 20px;
  font-size: 20px;
  font-style: italic;
  color: #00091a;
  text-shadow: -8px 8px 10px rgba(0,0,0,0.81);
}
.logo span{
  font-size: 40px;
  font-style: oblique;
  color: rgb(247, 0, 0);
  text-shadow: -8px 8px 10px rgba(0,0,0,0.81);
}
.Carro{
  height: 30px;
  
}


.carrocompleto{
   text-decoration: none;
  position: static;
    display: flex;
    flex-direction: row;
    align-items:stretch;
}
.input-botones{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}
.botones{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  padding: 20px;
}
.mensaje{
  flex: 1 1 auto;
  background-color: rgb(240, 130, 130);
  color: rgb(255, 255, 255);

}
.card{
  height: 448px;
  width: 300px;
  flex-direction: column;
  padding: 20px;
  display: flex;
  align-items: center;
  
}
.cardDentro{
  height: 224px;
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.imgCard{
  object-fit:contain;
  height: 80%;
  padding: 5px;
  
}
.itemListCont{
  display: flex;
  flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cardDetalle{
  height: 448px;
    width: 100%;
    flex-direction: row;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
a ,p, a:visited, a:active{
  text-decoration: none !important;
  color: rgb(0, 0, 0) ;
}
.cart{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
}
.itemcart{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  height: 600px;
  width: 1fr;
  margin: 5px 5px;
  
}
.itemcart img{
  width: 200px;
  height: 200px;
}
.contedorcard{
  display: flex;
  justify-content: space-between;
}
.detallecart{
  display: flex;
  flex-direction: column;
}
.detallecartitem{
  padding: 10px;
  margin: 7px;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pedidoExitoso{
  display: flex;
}

.butonmenu{
  align-self: flex-start;
}
.logocarro{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.centrar{
  margin:auto;
  display:block;
  width: 100%;
}
@media only screen and (max-width : 900px) {
  .cart {
    justify-content: center;

  }
  .contedorcard {
    flex-direction: column;
    align-items: center;
  }
  .detallecart {
    align-items: center;
  }
  .TituloProductos{
    text-align: center;
  }

  }