.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 10px;
  padding: 5px;
  background-color: #50a1e4;
}
.item{
  text-decoration: none;
  padding-top: 10px;
  color: rgb(0, 0, 0);
  font-size: 1.3em;
}
.item:hover{
  color: rgb(255, 255, 255);
}
.lista{
  margin-top: 10px ;
  padding-top: 10px;
  margin-bottom: 0;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}
.logo{
  align-self: center;
  padding: 15px 20px;
  font-size: 20px;
  font-style: italic;
  color: #00091a;
  text-shadow: -8px 8px 10px rgba(0,0,0,0.81);
}
.logo span{
  font-size: 40px;
  font-style: oblique;
  color: rgb(247, 0, 0);
  text-shadow: -8px 8px 10px rgba(0,0,0,0.81);
}
.Carro{
  height: 50px;
  position: relative;
  padding: 0 10px;
 
}
.cantidadProductos{
  z-index: 3;
  position: absolute;
  top:64px;
  right: 18px;
  
  padding: 10px;
}
.carrocompleto{
  position: static;
}
.input-botones{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}
.botones{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  padding: 20px;
}
.mensaje{
  flex: 1 1 auto;
  background-color: rgb(240, 130, 130);
  color: rgb(255, 255, 255);

}
.card{
  height: 448px;
  width: 300px;
  flex-direction: column;
  padding: 20px;
  display: flex;
  align-items: center;
  
}
.cardDentro{
  height: 224px;
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.imgCard{
  object-fit:contain;
  height: 80%;
  padding: 5px;
  
}
.itemListCont{
  display: flex;
  flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cardDetalle{
  height: 448px;
    width: 100%;
    flex-direction: row;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
a, a:visited, a:active{
  text-decoration: none;
  color: rgb(0, 0, 0) ;
}